table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.card{
    max-height: 100px;
    margin-top: 10px;
}

.card{
    cursor: pointer;
}
.nomargin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.nopadding{
    padding-top: 10px!important;
    padding-bottom: 0px!important;
}
.favourite{
    position: absolute;
    top: 5px;
    right: 5px;
}
.container-status-column, .container-status-column-td{
    width: 250px;
}

#cocktail-progress-bar{
    margin: 30px;
}

.cocktail-progress-bar-bar {
    width: 0%;
    margin: 25px auto;
    border: solid 1px #000;
}
.cocktail-progress-bar-bar .inner {
    height: 15px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
}
@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #0F0;
    }
    100% {
        width: 0%;
        background: #F00;
    }
}