<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="historytypelist-1" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500"><span id="historynametime-1"></span></div>
        <span class="font-weight-bold">
                <span id="historytypetextlist-1"></span>
                <span id="historynamelist-1"></span>
            </span>
    </div>
</a>
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="historytypelist-2" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500"><span id="historynametime-2"></span></div>
        <span class="font-weight-bold">
                <span id="historytypetextlist-2"></span>
                <span id="historynamelist-2"></span>
            </span>
    </div>
</a>
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="historytypelist-3" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500"><span id="historynametime-3"></span></div>
        <span class="font-weight-bold">
                <span id="historytypetextlist-3"></span>
                <span id="historynamelist-3"></span>
            </span>
    </div>
</a>