<div class="mr-3">
    <div id="historyLogoClass" class="icon-circle bg-success">
        <i class="fas fa-file-alt text-white"></i>
    </div>
</div>
<div>
    <div class="text-truncate text-gray-500">Ostatnie zdarzenie</div>
    <span class="font-weight-bold">
                        <span id="historyLogInfoPrefix"></span>
                        <span id="historyLogInfo"></span>
                    </span>
    <div class="small text-gray-500"><span id="historyDate"></span></div>
</div>
