<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="commenttypelist-1" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">
            <span id="commentnametime-1"></span>
            <span id="commentnameuser-1"></span>
        </div>
        <span class="font-weight-bold">
                <span id="commenttypetextlist-1"></span>
                <span id="commentnamelist-1"></span>
            </span>
    </div>
</a>
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="commenttypelist-2" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">
            <span id="commentnametime-2"></span>
            <span id="commentnameuser-2"></span>
        </div>
        <span class="font-weight-bold">
                <span id="commenttypetextlist-2"></span>
                <span id="commentnamelist-2"></span>
            </span>
    </div>
</a>
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div id="commenttypelist-3" class="icon-circle bg-success">
            <i class="fas fa-file-alt text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">
            <span id="commentnametime-3"></span>
            <span id="commentnameuser-3"></span>
        </div>
        <span class="font-weight-bold">
                <span id="commenttypetextlist-3"></span>
                <span id="commentnamelist-3"></span>
            </span>
    </div>
</a>