{% extends 'base.html.twig' %}

{% block title %}Kolejki{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Kolejki</h1>
            <hr class="sidebar-divider">
        </div>
        <div class="col-md-12 row">
            <div class="col-md-5">
                <div class="col-md-12">
                    <h3>Edytuj kolejkę</h3>
                </div>
                <div class="col-md-12">
                    {{ include('task_queue/_form.html.twig') }}
                </div>
            </div>
            {{ include('task_queue/_index_body.html.twig') }}
        </div>
    </div>
{% endblock %}