<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&#128190; Copyright &copy; <a href="https://maslowski.it/">maslowski.it</a> 2022-2022 &rarr; Krzysztof Masłowski &#128296;</span>
        </div>
    </div>
</footer>