{% extends 'base.html.twig' %}

{% block title %}Edit ApiToken{% endblock %}

{% block body %}
    <h1>Edit ApiToken</h1>

    {{ include('api_token/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_token_index') }}">back to list</a>

    {{ include('api_token/_delete_form.html.twig') }}
{% endblock %}
