{% extends 'base.html.twig' %}

{% block title %}New ApiToken{% endblock %}

{% block body %}
    <h1>Create new ApiToken</h1>

    {{ include('api_token/_form.html.twig') }}

    <a href="{{ path('app_api_token_index') }}">back to list</a>
{% endblock %}
